html
{
	background-color:#464646;
}
body 
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color: #333;
	background-color:#464646;
}
table
{
	font-size:12px;
}
input
{
	padding:0px;
	margin:0px;
	border:1px solid #666; 
	color:#000; 
	background-color:#FFF;
}
textarea
{
	padding:0px;
	margin:0px;
	border:1px solid #666; 
	color:#000; 
	background-color:#FFF;
}
a
{
	color:#555;
	text-decoration:none;
}
a:hover
{
	color:#555;
	text-decoration:underline;
}

h1
{
	color:#367C36;
	font-size:14px;
	padding:10px 10px 10px 30px;
	text-align:left;
	text-transform:uppercase;
	letter-spacing:1px;
}

.titulo_pagina
{
	margin:10px;
}


/*NAVEGAÇÃO*/

#paginacao {
	width: auto;
	height: auto;
	text-align:right;
	margin-right:20px;
}
#paginacao ul {
	padding: 0px;
}
#paginacao li {
	list-style-type: none;
	padding: 3px;
	text-align:center;
	border:1px solid #CCC;
	vertical-align:middle;
	background: none;
	display:inline;
	font-weight:bold;
	height:20px;
	width:20px;
}
.titulo_noticia
{
	padding-top:20px;
	font-size:130%;
	color:#555;
	letter-spacing:1px;
	font-weight:bold;
	margin:0px;
}
.data_noticia
{
	border-top:1px solid #555;
	font-size:90%;
	color:#90909F;
	letter-spacing:2px;
	margin:0px;
	text-align:right;
}

#inputPesquisaHome
{
	height:30px;
	line-height:30px;
	padding:2px;
	vertical-align:middle;
	color:#555;
	font-size:14px;
	width:100%;
}
#selectPesquisaHome
{
	float:left;
	height:35px;
	width: 100%;
	color:#555;
	text-align:left;
	font-size:17px;
	line-height:35px;
	vertical-align:middle;
	padding:0px;
	margin:0px;
}
.selectPesquisaHome
{
	float:left;
	height:35px;
	width: 100%;
	color:#555;
	text-align:left;
	font-size:17px;
	line-height:35px;
	vertical-align:middle;
	padding:0px;
	margin:0px;
}
#submitPesquisaHome
{
	width:302px;
	height:28px;
	background:url(../images/botton_cinza_16.jpg) no-repeat;
	border:none;
	cursor:pointer;
	cursor:hand;
}
#submitServicosHome
{
	width:302px;
	height:28px;
	background:url(../images/botton_cinza_18.jpg) no-repeat;
	border:none;
	cursor:pointer;
	cursor:hand;
}
.thDetalhes
{
	font-size:14px;
	letter-spacing:1px;
	padding:5px 5px 5px 10px;
	color:#333;
	background-color:#C3D88B;
	text-align:left;
}
.tdDetalhes
{
	font-size:12px;
	letter-spacing:1px;
	padding:5px 5px 5px 30px;
	color:#333;
	background-color:#C3D88B;
	text-align:left;
}
.opine
{
	color:#900;
	font:Tahoma, Geneva, sans-serif;
	letter-spacing:1px;
	font-weight:bold;
}
.tituloServico
{
	color:#333;
	font-size:16px;
	letter-spacing:2px;
	padding: 10px 10px 10px 30px;
	font-weight:bold;
}

/**MENU HOME**/
#barramenu ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#barramenu li {
	padding: 0px;
	margin: 0px;
	display: inline;
	text-align:center;
	vertical-align:middle;
}
#barramenu li a {
	text-decoration: none;
}
#barramenu li a:hover {
	text-decoration: none;
}

ul.menubar ul.menu
{
	display: none;
	position: absolute;
}

ul.menubar a{
	padding:  0px;
	margin: 0px;
	display: block;
}
ul.menubar a: hover{
	padding: 0px;
	margin: 0px;
	display:block;
}
ul.menubar a:visited{
	padding: 0px;
	margin: 0px;
	display:block;
}
.submenu{
	padding: 0px;
	float:left;
}
ul.menu, ul.menu ul{
	padding:  0px;
	margin: 0px;
	width:177px;
}
ul.menu li{
	border-top:2px solid #90AE4E;
	list-style: none;
	margin:0px;
	width:177px;
}

ul.menu li a {
	border-top:2px solid #90AE4E;
	text-decoration: none;
	width:177px;
	margin: 0px;
}
ul.menu li a:hover{
	border-top:2px solid #90AE4E;
	text-decoration: none;
	width:177px;
	margin: 0px;
}
ul.menu li a:visited{
	border-top:2px solid #90AE4E;
	text-decoration: none;
	width:177px;
	margin: 0px;
}

* html ul.menu li { float: left; height: 1%; }
* html ul.menu li a { height: 1%; }

ul.menu ul{
	position: absolute;
	display: block;
}

ul.menu li.submenu ul { display: none;}

ul.menu li a:hover { color: #999999;}

a.menuItemProduto{
	background: url('../images/menu_auxilio_10.jpg') no-repeat;
	height:52px;
	width:178px;
}
a.menuItemProduto:hover{
	background: url('../images/menuover_auxilio_10.jpg') no-repeat;
	height:52px;
	width:178px;
}

a.menuServicos{
	background: url('../images/menu_down_13.jpg') no-repeat;
	height:28px;
	width:177px;
}
a.menuServicos:hover{
	background: url('../images/menuover_down_13.jpg') no-repeat;
	height:28px;
	width:177px;
}

a.menuSimulacoes{
	background: url('../images/menu_down_16.jpg') no-repeat;
	height:28px;
	width:177px;
}
a.menuSimulacoes:hover{
	background: url('../images/menuover_down_16.jpg') no-repeat;
	height:28px;
	width:177px;
}

a.menuDicas{
	background: url('../images/menu_down_20.jpg') no-repeat;
	height:28px;
	width:177px;
}
a.menuDicas:hover{
	background: url('../images/menuover_down_20.jpg') no-repeat;
	height:28px;
	width:177px;
}